.SearchResults {
    width: 50%;
    height: 950px;
    overflow-y: scroll;
    padding: .88rem;
    background-color: #f4eee0;
    box-shadow: 0 4px 2px 2px #4b4a4a;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }

  h2{
    color: #363636;
  }
  
  @media only screen and (max-width: 1020px) {
    .SearchResults {
      width: 90%;
      margin-bottom: 2rem;
    }
  }